body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

form {
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResults,
#apartmentsWithBookings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.searchResult,
.apartmentCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

/* Add more styles as needed */
