/* style.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

#content {
  margin: 2em;
}

form {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}
